.divider-2 {
  padding: 50px 0 10px 0;
  position: relative;
  top: 0;
  z-index: 300;
  background-color: white;
  max-width: 1110px;
  margin: 0 auto;
}
.lines-2 {
  position: relative;
  top: 10px;
  width: 94%;
  margin-bottom: 20px;
  margin-left: 6%;
}
.text-2 {
  float: left;
  font-size: 22px;
  font-weight: 100;
}
.video-section {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  z-index: 300;
  background-color: white;
  max-width: 1110px;
  margin: 0 auto;
  font-weight: 100;
}
.video-left {
  width: 50%;
  margin-right: 20px;
}
.video-right {
  width: 50%;
}
.video-big-caption {
  background-color: #E6E6E6;
  text-align: center;
  width: 88%;
  margin: 0 auto;
  padding: 10px 20px 15px 20px;
  font-size: 20px;
  position: relative;
  top: -30px;
}
.play-icon {
  margin-bottom: 2px;
}
.video-right-one, .video-right-two, .video-right-three, .video-right-four {
  display: flex;
  justify-content: center;
}
.video-right-one > figure, .video-right-two > figure, .video-right-three > figure, .video-right-four > figure {
  width: 100%;
  margin: 0 10px -15px 0;
}
.play-and-length {
  position: relative;
  top: -35px;
  display: flex;
  justify-content: flex-start;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  width: 25%;
  padding: 4px;
  cursor: pointer;
}
.video-length {
  margin: 3px 0 0 4px;
}
.video-right-one-a-caption, .video-right-one-b-caption, .video-right-two-a-caption, .video-right-two-b-caption, .video-right-three-a-caption, .video-right-three-b-caption, .video-right-four-a-caption, .video-right-four-b-caption {
  position: relative;
  top: -25px;
}
@media screen and (max-width: 967px) {
  .divider-2 {
    position: relative;
    top: -122px;
  }
  .video-section {
    position: relative;
    top: -122px;
  }
}
@media screen and (max-width: 650px) {
  .divider-2 {
    position: relative;
    top: -1872px;
  }
  .video-section {
    position: relative;
    top: -1862px;
    display: flex;
    flex-direction: column;
  }
  .video-left {
    width: 100%;
    margin: 0 auto;
  }
  .video-right {
    width: 100%;
    margin: 0 auto;
  }
}
