.divider-5 {
  padding: 25px 0 10px 0;
  position: relative;
  top: 0;
  z-index: 300;
  background-color: white;
  max-width: 1110px;
  margin: 0 auto;
}
.lines-5 {
  position: relative;
  top: 10px;
  width: 91%;
  margin-bottom: 20px;
  margin-left: 7%;
}
.text-5 {
  float: left;
  font-size: 22px;
  font-weight: 100;
}
.photos-section {
  display: flex;
  flex-direction: flex-start;
  position: relative;
  top: 0;
  z-index: 300;
  background-color: white;
  max-width: 1110px;
  margin: 0 auto;
  font-weight: 100;
}
.photos-section > figure {
  width: 100%;
  margin: 0 30px 10px 0;
}
/* .photos-section > div > a:first-child {
  max-width: 285px;
  max-height: 160px;
} */
.photos-1-image {
  max-width: 285px;
  max-height: 160px;
}
.photos-2-image {
  max-width: 285px;
  max-height: 160px;
}
.photos-3-image {
  max-width: 285px;
  max-height: 160px;
}
.photos-4-image {
  max-width: 285px;
  max-height: 160px;
}
.photos-1-caption, .photos-2-caption, .photos-3-caption, .photos-4-caption {
  font-size: 19px;
}
@media screen and (max-width: 967px) {
  .divider-5 {
    position: relative;
    top: -172px;
  }
  .photos-section {
    position: relative;
    top: -172px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .photos-section > figure {
    width: 35%;
  }
  .photos-section > figure:not(:last-child) {
    margin-right: 30px;
  }
  /* .photos-section > div:not(:first-child) {
    margin-right: 30px;
  } */
}
@media screen and (max-width: 650px) {
  .divider-5 {
    position: relative;
    top: -2070px;
  }
  .photos-section {
    position: relative;
    top: -2070px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  .photos-1-caption, .photos-2-caption, .photos-3-caption, .photos-4-caption {
    font-size: 14px;
  }
}
