@media screen and (max-width: 1110px) {
  .top-ad-container {
    display: none;
  }
  .left-header {
    display: none;
  }
  .edition-part {
    display: none;
  }
  .fixed-header-right-search {
    display: none;
  }
  .fixed-header {
    padding: 0 10%;
    margin-top: 0;
  }
  .index > div > div {
    display: none;
  }
  .index {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #4D4D4D;
  }
  .index > div {
    margin-right: 0;
  }
  .index > div > a > div {
    font-weight: 100;
    margin-bottom: 5px;
  }
  .search-form {
    max-width: 720px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
  }
  .social-media-links-section {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 0px;
  }
  .social-media-links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .follow-cnn {
    padding: 0;
    border-right: none;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-right: 0;
    margin-right: 0;
  }
  .social-media-links-section-cnn-logo {
    margin: 0 auto;
  }
  .social-media-links-section-cnn-logo-hide {
    color: white;
    background-color: #CE3B28;
    padding: 10px 5px 10px 5px;
    margin: 0 auto;

  }
  .fa-facebook, .fa-instagram {
    margin: 0;
  }
  .fa-twitter {
    margin: 0 15px 0 15px;
  }
  .footer-section-a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    color: #E6E6E6;
    /* padding: 0 25px 40px 25px; */
  }
  .footer-section-b {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0 5px 3px 5px;
  }
  .footer-section-c {
    display: flex;
    justify-content: center;
    padding: 0 25px 25px 25px;
  }
  .footer-2-b {
    margin: 0
  }
  .wrapper-white, .wrapper-grey, .wrapper-black {
    padding: 0 1%;
  }
  /* .hide-white-space {
    display: none;
  } */
}
