@media screen and (max-width: 650px) {
  .one-left > ul > li {
    font-size: 20px;
  }
  .one-left > ul {
    position: relative;
    top: -165px;
  }
  .combine-center-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .one-center-headline {
    font-size: 35px;
  }
  .combine {
    position: relative;
    top: -175px;
    color: white;
    background: rgba(248, 240, 243, 0.8);
    padding: 4px;
    font-size: 31px;
    color: black;
  }
  .combine-two {
    width: 100%;
    position: relative;
    top: -137px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .one-center {
    position: relative;
    top: -40px;
    width: 100%;
  }
  .one-center > ul {
    position: relative;
    top: -120px;
    font-size: 30px;
  }
  .one-center > ul > li {
    font-size: 20px;
  }
  .one-right {
    width: 100%;
    position: relative;
    top: -155px;
    margin: 0;
    padding: 0;
  }
  .one-right-headline {
    font-size: 35px;
  }
  .combine-three {
    font-size: 35px;
    width: 100%;
    position: relative;
    top: -97px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .one-right > ul {
    position: relative;
    top: -80px;
    font-size: 30px;
  }
  .one-right > ul > li {
    font-size: 20px;
  }
  .header-three-container {
    display: none;
  }
  .divider-1 {
    position: relative;
    top: -342px;
  }
  .section-two-top {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -362px;
  }
  .combine-two-left-center {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .two-left {
    width: 100%;
    margin: 0 auto;
  }
  .two-left-headline {
    position: relative;
    top: -50px;
    padding: 4px;
    font-size: 33px;
    background: rgba(248, 240, 243, 0.8);
  }
  .two-left > ul {
    position: relative;
    top: -137px;
  }
  .two-left > ul > li{
    font-size: 20px;
  }
  .two-center-headline {
    position: relative;
    top: -48px;
    padding: 4px;
    font-size: 33px;
    background: rgba(248, 240, 243, 0.8);
  }
  .two-center {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -130px;
  }
  .two-center > ul {
    position: relative;
    top: -130px;
  }
  .two-center > ul > li{
    font-size: 20px;
  }
  .combine-two-right-news-buzz {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: -270px;
  }
  .two-right {
    width: 100%;
    padding: 5% 20%;
  }
  .news-buzz-combine {
    width: 100%;
  }
  .news-buzz-combine > ul > li {
    font-size: 20px;
  }
  .section-two-bottom {
    position: relative;
    top: -640px;
    display: flex;
    flex-direction: column;
  }
  .news-buzz {
    display: none;
  }
  .check-these {
    width: 100%;
    margin: 0 auto;
  }
  .cnn-biz {
    width: 100%;
    margin: 0 auto;
  }
  .cnn-biz > ul > li {
    font-size: 22px;
  }
  .section-two-bottom-ad {
    position: relative;
    top: -632px;
    width: 80%;
  }
  .section-three-a {
    position: relative;
    top: -632px;
    display: flex;
    flex-direction: column;
  }
  .sports-section {
    width: 100%;
    margin: 0 auto;
  }
  .sports-title-caption {
    font-size: 32px;
  }
  .sports-section > div {
    position: relative;
    top: -90px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .sports-section > ul {
    position: relative;
    top: -90px;
  }
  .sports-section > ul > li {
    font-size: 20px;
  }
  .opinion-section {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -80px;
  }
  .opinion-title-caption {
    font-size: 32px;
  }
  .opinion-section > div {
    position: relative;
    top: -54px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .opinion-section > ul {
    position: relative;
    top: -50px;
  }
  .opinion-section > ul > li {
    font-size: 20px;
  }
  .ad-section {
    position: relative;
    top: -130px;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  .ad-section > ul > li {
    font-size: 20px;
  }
  .ad-image {
    width: 70%;
  }
  .combine-ad-section-world {
    display: none;
  }
  .section-three-b {
    position: relative;
    top: -750px;
    display: flex;
    flex-direction: column;
  }
  .world-section {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .world-title-caption {
    font-size: 32px;
  }
  .world-section > div {
    position: relative;
    top: -127px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .world-section > ul {
    position: relative;
    top: -127px;
  }
  .world-section > ul > li {
    font-size: 20px;
  }
  .us-section {
    position: relative;
    top: -117px;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .us-title-caption {
    font-size: 32px;
  }
  .us-section > div {
    position: relative;
    top: -127px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .us-section > ul {
    position: relative;
    top: -127px;
  }
  .us-section > ul > li {
    font-size: 20px;
  }
  .style-section {
    position: relative;
    top: -232px;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .style-section > div {
    position: relative;
    top: -91px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .style-title-caption {
    font-size: 32px;
  }
  .style-section > ul {
    position: relative;
    top: -91px;
  }
  .style-section > ul > li {
    font-size: 20px;
  }
  .combine-us-style {
    display: none;
  }
  .section-three-c {
    position: relative;
    top: -1070px;
    display: flex;
    flex-direction: column;
  }
  .entertainment-section {
    width: 100%;
    margin: 0 auto;
  }
  .entertainment-section > div {
    position: relative;
    top: -91px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .entertainment-title-caption {
    font-size: 32px;
  }
  .entertainment-section > ul {
    position: relative;
    top: -91px;
  }
  .entertainment-section > ul > li {
    font-size: 22px;
  }
  .tech-section {
    position: relative;
    top: -81px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .tech-section > div {
    position: relative;
    top: -90px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .tech-title-caption {
    font-size: 32px;
  }
  .tech-section > ul {
    position: relative;
    top: -90px;
  }
  .tech-section > ul > li {
    font-size: 22px;
  }
  .politics-section {
    position: relative;
    top: -160px;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .politics-section > div {
    position: relative;
    top: -128px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .politics-title-caption {
    font-size: 32px;
  }
  .politics-section > ul {
    position: relative;
    top: -128px;
  }
  .politics-section > ul > li {
    font-size: 22px;
  }
  .combine-politics-science-health-section {
    display: none;
  }
  .section-three-d {
    position: relative;
    top: -1362px;
    display: flex;
    flex-direction: column;
  }
  .science-health-section {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .science-health-section > div {
    position: relative;
    top: -90px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .science-health-title-caption {
    font-size: 32px;
  }
  .science-health-section > ul {
    position: relative;
    top: -90px;
  }
  .science-health-section > ul > li {
    font-size: 22px;
  }
  .travel-section {
    position: relative;
    top: -90px;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .travel-section > div {
    position: relative;
    top: -90px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .travel-title-caption {
    font-size: 32px;
  }
  .travel-section > ul {
    position: relative;
    top: -90px;
  }
  .travel-section > ul > li {
    font-size: 22px;
  }
  .cnn-podcasts-section {
    position: relative;
    top: -170px;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .cnn-podcasts-title-caption {
    font-size: 22px;
  }
  .cnn-podcasts-section > ul > li {
    font-size: 22px;
  }
  .combine-travel-cnn-podcasts-section {
    display: none;
  }
  .divider-2 {
    position: relative;
    top: -1612px;
  }
  .video-section {
    position: relative;
    top: -1612px;
    display: flex;
    flex-direction: column;
  }
  .video-left {
    width: 100%;
    margin: 0 auto;
  }
  .video-right {
    width: 100%;
    margin: 0 auto;
  }
  .divider-3 {
    position: relative;
    top: -1622px;
  }
  .paid-content-section {
    position: relative;
    top: -1642px;
    width: 100%;
    margin: 0 auto;
  }
  .paid-content-section > a:not(:last-child) {
    margin-right: 10px;
  }
  .paid-content-section > a {
    margin: 5px;
  }
  .paid-content-section > a > img {
    min-width: 110px;
    min-height: 100px;
  }
  .paid-content-section > a > div {
    max-height: 80px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .divider-4 {
    position: relative;
    top: -1682px;
  }
  .more-from-cnn-section {
    position: relative;
    top: -1682px;
    display: flex;
    flex-direction: column;
  }
  .more-from-cnn-section > div {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .represented-title-caption {
    font-size: 32px;
  }
  .represented-title-background {
    position: relative;
    top: -123px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .risk-takers {
    position: relative;
    top: -93px;
  }
  .risk-takers-title-caption {
    font-size: 32px;
  }
  .risk-takers-title-background {
    position: relative;
    top: -85px;
    padding: 4px;
    background: rgba(248, 240, 243, 0.8);
  }
  .represented-sub-a-image, .represented-sub-b-image {
    position: relative;
    top: -120px;
  }
  .represented-sub-a-caption, .represented-sub-b-caption {
    font-size: 20px;
    position: relative;
    top: -120px;
  }
  .risk-takers-sub-a-image, .risk-takers-sub-b-image {
    position: relative;
    top: -80px;
  }
  .risk-takers-sub-a-caption, .risk-takers-sub-b-caption {
    font-size: 20px;
    position: relative;
    top: -80px;
  }
  .divider-5 {
    position: relative;
    top: -1850px;
  }
  .photos-section {
    position: relative;
    top: -1862px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  .photos-section > div {
    width: 35%;
    margin-right: 30px;
  }
  .photos-section > div > a {
    font-size: 14px;
  }
  .photos-1-caption, .photos-2-caption, .photos-3-caption, .photos-4-caption {
    font-size: 14px;
  }
  .divider-6 {
    position: relative;
    top: -1862px;
  }
  .cnn-underscored-section {
    position: relative;
    top: -1880px;
  }
  .cnn-underscored-left-image-caption {
    position: relative;
    top: -82px;
  }
  .wrapper-grey {
    position: relative;
    top: -1940px;
  }
  .sub-headlines-black > li > a {
    font-size: 20px;
  }
  .wrapper-black {
    position: relative;
    margin-top: -1980px;
  }
  .social-media-links-section {
    padding-bottom: 0px;
  }
  .in-case-section {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .follow-cnn {
    border-right: none;
    margin-top: 5px;
    margin-right: 0;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 5px;

  }
  .footer-section-a {
    min-width: 400px;
    padding-top:  0;
    margin-bottom: 0;
  }
  .wrapper-black-650 {
    position: relative;
    margin-top: 0px;
  }

}
