@media screen and (max-width: 967px) {

  .header-three-container {
    position: relative;
    top: -120px;
  }
  .one-left {
    width: 100%;
    padding: 0;
  }
  .one-left > ul > li {
    font-size: 22px;
  }
  .one-left > ul {
    position: relative;
    top: -127px;
  }
  .one-left-headline-caption {
    font-weight: 600;
    font-size: 33px;
  }
  .one-center {
    padding-left: 0;
  }
  .one-right {
    padding-right: 0;
  }
  .combine-center-right {
    width: 100%;
    position: relative;
    top: -122px;
  }
  .combine {
    position: relative;
    top: -137px;
    color: white;
    background: rgba(248, 240, 243, 0.9);
    padding: 4px;
    font-size: 31px;
    color: black;
  }
  .section-one {
    display: flex;
    flex-direction: column;
  }
  .divider-1 {
    position: relative;
    top: -112px;
  }
  .section-two-top {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -112px;
  }
  .two-center {
    margin-right: 0;
  }
  .combine-two-right-news-buzz {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px auto;
  }
  .news-buzz-combine {
    display: block;
    width: 50%;
    padding-left: 1%;
  }
  .two-right {
    width: 50%;
    padding-right: 1%;
    margin: 0 auto;
    text-align: center;
  }
  .two-right-ad-1 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .two-right-ad-2 {
    width: 60%;
    padding: 0;
  }
  .wrapper-white, .wrapper-grey, .wrapper-black {
    padding: 0 1%;
  }
  .news-buzz {
    display: none;
  }
  .section-two-bottom {
    position: relative;
    top: -112px;
  }
  .check-these {
    width: 50%;
    margin: auto 0;
    padding-right: 1%;
  }
  .cnn-biz {
    width: 50%;
    padding-left: 1%;
  }
  .section-two-bottom-ad {
    position: relative;
    top: -112px;
  }
  .section-three-a {
    position: relative;
    top: -112px;
  }
  .sports-section {
    width: 50%;
    margin: 0;
    padding-right: 1%;
  }
  .opinion-section {
    width: 50%;
    margin:  0;
    padding-left: 1%;
  }
  .ad-section {
    display: none;
  }
  .ad-image {
    width: 80%;
  }
  .section-three-b {
    position: relative;
    top: -112px;
  }
  .combine-ad-section-world {
    display: block;
    width: 50%;
    padding-right: 1%;
    margin: 0 auto;
    text-align: center;
  }
  .combine-ad-section-world > ul > li {
    text-align: left;
  }
  .world-section {
    width: 50%;
    padding-left: 1%;
  }
  .us-section {
    display: none;
  }
  .style-section {
    display: none;
  }
  .combine-us-style {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: -102px;
  }
  .us-header:hover  {
    background-color: #E6E6E6;
    color: black;
  }
  .style-header:hover  {
    background-color: #E6E6E6;
    color: black;
  }
  .combine-us-section {
    width: 50%;
    padding-right: 1%;
  }
  .combine-style-section {
    width: 50%;
    padding-left: 1%;
  }
  .section-three-c {
    position: relative;
    top: -112px;
  }
  .entertainment-section {
    width: 50%;
    margin: 0;
    padding-right: 1%;
  }
  .tech-section {
    width: 50%;
    margin: 0;
    padding-left: 1%;
  }
  .politics-section {
    display: none;
  }
  .combine-politics-science-health-section {
    display: block;
    width: 50%;
    padding-right: 1%;
  }
  .politics-header:hover  {
    background-color: #E6E6E6;
    color: black;
  }
  .section-three-d {
    position: relative;
    top: -112px;
  }
  .science-health-section {
    width: 50%;
    padding-left: 1%;
  }
  .travel-section {
    display: none;
  }
  .cnn-podcasts-section {
    display: none;
  }
  .combine-travel-cnn-podcasts-section {
    position: relative;
    top: -102px;
    display: flex;
    justify-content: center;
  }
  .travel-header:hover  {
    background-color: #E6E6E6;
    color: black;
  }
  .cnn-podcasts-header:hover  {
    background-color: #E6E6E6;
    color: black;
  }
  .combine-travel-section {
    width: 50%;
    padding-right: 1%;
  }
  .combine-cnn-podcasts-section {
    width: 50%;
    padding-left: 1%;
  }
  .divider-2 {
    position: relative;
    top: -92px;
  }
  .video-section {
    position: relative;
    top: -112px;
  }
  .divider-3 {
    position: relative;
    top: -122px;
  }
  .paid-content-section {
    position: relative;
    top: -142px;
  }
  .paid-content-section > a:not(:last-child) {
    margin-right: 20px;
  }
  .divider-4 {
    position: relative;
    top: -152px;
  }
  .more-from-cnn-section {
    position: relative;
    top: -172px;
  }
  .more-from-cnn-section > div {
    width: 50%;
    margin: 0;
  }
  .represented {
    padding-right: 1%;
  }
  .risk-takers {
    padding-left: 1%;
  }
  .divider-5 {
    position: relative;
    top: -172px;
  }
  .photos-section {
    position: relative;
    top: -172px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .photos-section > div {
    width: 35%;
  }
  .photos-section > div:not(:last-child) {
    margin-right: 30px;
  }
  /* .photos-section > div:not(:first-child) {
    margin-right: 30px;
  } */
  .divider-6 {
    position: relative;
    top: -172px;
  }
  .search-form {

  }
  .cnn-underscored-section {
    position: relative;
    top: -192px;
  }
  .wrapper-grey {
    position: relative;
    top: -252px;
  }
  .wrapper-black {
    position: relative;
    margin-top: -255px;
  }
  .wrapper-black-967 {
    position: relative;
    margin-top: 0px;
  }
}
