.paid-content-section {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  position: relative;
  top: 0;
  z-index: 300;
  background-color: white;
  max-width: 1110px;
  margin: 0 auto;
}
.paid-content-section > a {
  width: 100%;
}
.paid-content-section > a:not(:last-child) {
  margin-right: 25px;
}
.paid-content-1-caption, .paid-content-2-caption, .paid-content-3-caption, .paid-content-4-caption {
  font-size: 18px;
  line-height: 22px;
}
.paid-content-1-company, .paid-content-2-company, .paid-content-3-company, .paid-content-4-company {
  font-size: 13px;
  color: grey;
}
