.wrapper-grey {
  width: 100%;
  background-color: #1A1A1A;
  position: relative;
  top: 0;
  margin: 0 auto;
  z-index: 300;
}
.bottom-section {
  max-width: 1110px;
  margin: 0 auto;
  background-color: #1A1A1A;
  color: #E6E6E6;
  padding-bottom: 20px;
}
.in-case-section {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.in-case-left {
  width: 67%;
  margin-right: 20px;
}
.in-case-left-image-caption {
  background-color: #262626;
  color: white;
  text-align: center;
  width: 88%;
  margin: 0 auto;
  padding: 10px 20px 15px 20px;
  font-size: 20px;
  position: relative;
  top: -30px;
}
.sub-headlines-black > li {
  padding: 8px 0;
  border-top: 1px solid #404040;
  color: #E6E6E6;
  font-size: 15px;
  font-weight: 100;
}
